
.main_header{
    display: inline;
    margin-left: 5px;
    
}.smallButton{
    display: none;
}
.search{
    display: inline-block;
    width: 40%;
    padding: 15px;
    padding-left: 7px;
    margin-top: -10px;
    border-radius: 20%;
    
    background-color: rgb(241, 239, 239);
}.search:hover{
    /* border:2px solid blue; */
    box-shadow:2px 2px 20px lightgray;
}.search:focus-within{
    box-shadow:2px 2px 20px blue;
}.buttons{
    display: inline-block;
    text-align: right;
    
    width: 53%;
}
.search_options_main{
    border-radius: 10px;
    border: 2px solid black;
    position:fixed;
    background-color:white;
    margin: 0px;
    width: 400px;
    overflow-y: scroll;
    max-height: 400px;
    min-height: 0px;
    top: 80px;
    left:21%;
    
    
}.search_options_main_none{
    
}.inside_option_elements{
    cursor: pointer;
}.inside_option_elements:hover{
    background-color: cornflowerblue;
}
@media(max-width:1550px){
    .search_options_main{
        left:8.5%;
    }
}

@media(max-width:1000px){
    .search_options_main{
        /* display: none; */
        left:13%;
    }
    .search{
        display: inline-block;
    }.buttons{
        width:50%;
    }
}@media(max-width:770px){
    
    .search{
        width: 30%;
    }.buttons{
        margin-left: 4%;
        width:0%;
        display: inline;
        text-align: center;
    }
}@media(max-width:1000px){
    .search{
        width: 30%;
    }
    .largeButton{
        display: none;
    }.smallButton{
        display: inline;
    }.search{
        margin-left: 4%;
    }
    .buttons{
        
        width:50%;

        display: inline-block;
        text-align: right;
    }
}@media(max-width:540px){
    .search{
        width: 30%;
    }
    .search{
        margin-left: 4px;
    }
    .buttons{
        width:30%;
        display: inline;
        text-align: centre;
    }
}@media(max-width:650px){
    .search_options_main{
        z-index: 150;
        left:16%;
    }
    .search{
        width: 70%;
    }
    .search{
        margin-left: 4%;
        margin-bottom: 5%;
    }
    .buttons{
        width:100%;
        display: inline-block;
        margin-left: 0px;
        text-align: center;
    }
}
@media(max-width:530px){
    .search_options_main{
        width: 300px;
        left:16%;
    }
}@media(max-width:390px){
    .search_options_main{
        width: 250px;
        left:20%;
    }
}

@media(max-width:310px){
    .search_options_main{
        display: none;
        left:16%;
    }
    .search{
        width: 60%;
        /* display: none; */
    }
    .search{
        margin-left: 4%;
        margin-bottom: 15px;
    }
}
