.body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5e585821;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(48, 44, 44);
}

@media(min-width:100px){
  .main_div{
    width: 100%;
    display: inline-block;
  }
  .left_nav{
    display: none;
  }
  .display_comp{
    display: inline-block;
    width:  100%;
  }
  .right_cards{
    display: inline-block;
    width:  100%;
  }
  
}@media(min-width:1550px){
  .main_div{
    width: 100%;
    display: flex;
  }
  .left_nav{
    display: inline-block;
    height: 100vh;
    width: 16.5%;
    overflow-y: scroll;
    background-color: rgba(0, 255, 255, 0.055);
    position: static;
  }
  .display_comp{
    display: inline-block;
    height: 100vh;
    overflow-y: scroll;
    width:  66.5%;
  }
  .right_cards{
    display: inline-block;
    height: 100vh;
    overflow-wrap: break-word;
    overflow-y: scroll;
    
    width:  17%;
  }}